<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-course-heading" jhiTranslate="jhipsterApp.course.home.createOrEditLabel">Create or edit a Course</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.course.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.course.examType" for="field_examType">Exam Type</label>
                    <select class="form-control" name="examType" formControlName="examType" id="field_examType">
                        <option value="EXAM">{{ 'jhipsterApp.ExamType.EXAM' | translate }}</option>
                        <option value="QA">{{ 'jhipsterApp.ExamType.QA' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.course.major" for="field_major">Major</label>
                    <select class="form-control" id="field_major" name="major" formControlName="major">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="majorOption.id === editForm.get('major')!.value?.id ? editForm.get('major')!.value : majorOption" *ngFor="let majorOption of majors; trackBy: trackById">{{ majorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.course.teacher" for="field_teacher">Teacher</label>
                    <select class="form-control" id="field_teacher" name="teacher" formControlName="teacher">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="teacherOption.id === editForm.get('teacher')!.value?.id ? editForm.get('teacher')!.value : teacherOption" *ngFor="let teacherOption of teachers; trackBy: trackById">{{ teacherOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.course.semaster" for="field_semaster">Semaster</label>
                    <select class="form-control" id="field_semaster" name="semaster" formControlName="semaster">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="semasterOption.id === editForm.get('semaster')!.value?.id ? editForm.get('semaster')!.value : semasterOption" *ngFor="let semasterOption of semasters; trackBy: trackById">{{ semasterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
