<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.course.home.title">Courses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course" [routerLink]="['/course/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="jhipsterApp.course.home.createLabel">
            Create a new Course
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jhipsterApp.course.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="courses?.length === 0">
        <span jhiTranslate="jhipsterApp.course.home.notFound">No courses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="courses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <!-- <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th> -->
                    <th scope="col" ><span jhiTranslate="jhipsterApp.course.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.course.examType">Exam Type</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.course.semaster">Semaster</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.course.major">Major</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.course.teacher">Teacher</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of courses ;trackBy: trackId">
                    <!-- <td><a [routerLink]="['/course', course.id, 'view']">{{ course.id }}</a></td> -->
                    <td>{{ course.name }}</td>
                    <td jhiTranslate="{{ 'jhipsterApp.ExamType.' + course.examType }}">{{ course.examType }}</td>
                    <td>
                        <div *ngIf="course.semaster">
                            <a [routerLink]="['/semaster', course.semaster?.id, 'view']" >{{ course.semaster?.year }} {{ course.semaster?.season}} </a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="course.major">
                            <a [routerLink]="['/major', course.major?.id, 'view']" >{{ course.major?.name }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="course.teacher">
                            <a [routerLink]="['/teacher', course.teacher?.id, 'view']" >{{ course.teacher?.workNumber }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/course', course.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/course', course.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(course)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
