<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-semaster-heading" jhiTranslate="jhipsterApp.semaster.home.createOrEditLabel">Create or edit a Semaster</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.semaster.year" for="field_year">Year</label>
                    <input type="number" class="form-control" name="year" id="field_year"
                           formControlName="year"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.semaster.season" for="field_season">Season</label>
                    <select class="form-control" name="season" formControlName="season" id="field_season">
                        <option value="Spring">{{ 'jhipsterApp.Season.Spring' | translate }}</option>
                        <option value="Summer">{{ 'jhipsterApp.Season.Summer' | translate }}</option>
                        <option value="Fall">{{ 'jhipsterApp.Season.Fall' | translate }}</option>
                        <option value="Winter">{{ 'jhipsterApp.Season.Winter' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
