<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.semaster.home.title">Semasters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-semaster" [routerLink]="['/semaster/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.semaster.home.createLabel">
            Create a new Semaster
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="semasters?.length === 0">
        <span jhiTranslate="jhipsterApp.semaster.home.notFound">No semasters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="semasters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.semaster.year">Year</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.semaster.season">Season</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let semaster of semasters ;trackBy: trackId">
                    <td><a [routerLink]="['/semaster', semaster.id, 'view']">{{ semaster.id }}</a></td>
                    <td>{{ semaster.year }}</td>
                    <td jhiTranslate="{{ 'jhipsterApp.Season.' + semaster.season }}">{{ semaster.season }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/semaster', semaster.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/semaster', semaster.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(semaster)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
