<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="jException">
            <h2><span jhiTranslate="jhipsterApp.jException.detail.title">J Exception</span> {{ jException.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.jException.date">Date</span></dt>
                <dd>
                    <span>{{ jException.date }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.isYouthLeague">Is Youth League</span></dt>
                <dd>
                    <span>{{ jException.isYouthLeague }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.cause">Cause</span></dt>
                <dd>
                    <span>{{ jException.cause }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.originalMajor">Original Major</span></dt>
                <dd>
                    <div *ngIf="jException.originalMajor">
                        <a [routerLink]="['/major', jException.originalMajor?.id, 'view']">{{ jException.originalMajor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.newMajor">New Major</span></dt>
                <dd>
                    <div *ngIf="jException.newMajor">
                        <a [routerLink]="['/major', jException.newMajor?.id, 'view']">{{ jException.newMajor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.originalSchoolClass">Original School Class</span></dt>
                <dd>
                    <div *ngIf="jException.originalSchoolClass">
                        <a [routerLink]="['/school-class', jException.originalSchoolClass?.id, 'view']">{{ jException.originalSchoolClass?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.newSchoolClass">New School Class</span></dt>
                <dd>
                    <div *ngIf="jException.newSchoolClass">
                        <a [routerLink]="['/school-class', jException.newSchoolClass?.id, 'view']">{{ jException.newSchoolClass?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.originalGrade">Original Grade</span></dt>
                <dd>
                    <div *ngIf="jException.originalGrade">
                        <a [routerLink]="['/grade', jException.originalGrade?.id, 'view']">{{ jException.originalGrade?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.newGrade">New Grade</span></dt>
                <dd>
                    <div *ngIf="jException.newGrade">
                        <a [routerLink]="['/grade', jException.newGrade?.id, 'view']">{{ jException.newGrade?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.jException.student">Student</span></dt>
                <dd>
                    <div *ngIf="jException.student">
                        <a [routerLink]="['/student', jException.student?.id, 'view']">{{ jException.student?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/j-exception', jException.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
