<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-j-exception-heading" jhiTranslate="jhipsterApp.jException.home.createOrEditLabel">Create or edit a J Exception</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.isYouthLeague" for="field_isYouthLeague">Is Youth League</label>
                    <input type="checkbox" class="form-control" name="isYouthLeague" id="field_isYouthLeague"
                           formControlName="isYouthLeague"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.cause" for="field_cause">Cause</label>
                    <input type="text" class="form-control" name="cause" id="field_cause"
                           formControlName="cause"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.originalMajor" for="field_originalMajor">Original Major</label>
                    <select class="form-control" id="field_originalMajor" name="originalMajor" formControlName="originalMajor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="majorOption.id === editForm.get('originalMajor')!.value?.id ? editForm.get('originalMajor')!.value : majorOption" *ngFor="let majorOption of majors; trackBy: trackById">{{ majorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.newMajor" for="field_newMajor">New Major</label>
                    <select class="form-control" id="field_newMajor" name="newMajor" formControlName="newMajor">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="majorOption.id === editForm.get('newMajor')!.value?.id ? editForm.get('newMajor')!.value : majorOption" *ngFor="let majorOption of majors; trackBy: trackById">{{ majorOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.originalSchoolClass" for="field_originalSchoolClass">Original School Class</label>
                    <select class="form-control" id="field_originalSchoolClass" name="originalSchoolClass" formControlName="originalSchoolClass">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolClassOption.id === editForm.get('originalSchoolClass')!.value?.id ? editForm.get('originalSchoolClass')!.value : schoolClassOption" *ngFor="let schoolClassOption of schoolclasses; trackBy: trackById">{{ schoolClassOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.newSchoolClass" for="field_newSchoolClass">New School Class</label>
                    <select class="form-control" id="field_newSchoolClass" name="newSchoolClass" formControlName="newSchoolClass">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="schoolClassOption.id === editForm.get('newSchoolClass')!.value?.id ? editForm.get('newSchoolClass')!.value : schoolClassOption" *ngFor="let schoolClassOption of schoolclasses; trackBy: trackById">{{ schoolClassOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.originalGrade" for="field_originalGrade">Original Grade</label>
                    <select class="form-control" id="field_originalGrade" name="originalGrade" formControlName="originalGrade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gradeOption.id === editForm.get('originalGrade')!.value?.id ? editForm.get('originalGrade')!.value : gradeOption" *ngFor="let gradeOption of grades; trackBy: trackById">{{ gradeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.newGrade" for="field_newGrade">New Grade</label>
                    <select class="form-control" id="field_newGrade" name="newGrade" formControlName="newGrade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gradeOption.id === editForm.get('newGrade')!.value?.id ? editForm.get('newGrade')!.value : gradeOption" *ngFor="let gradeOption of grades; trackBy: trackById">{{ gradeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.jException.student" for="field_student">Student</label>
                    <select class="form-control" id="field_student" name="student" formControlName="student">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="studentOption.id === editForm.get('student')!.value?.id ? editForm.get('student')!.value : studentOption" *ngFor="let studentOption of students; trackBy: trackById">{{ studentOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
