<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.teacher.home.title">Teachers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teacher" [routerLink]="['/teacher/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.teacher.home.createLabel">
            Create a new Teacher
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="teachers?.length === 0">
        <span jhiTranslate="jhipsterApp.teacher.home.notFound">No teachers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="teachers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.teacher.workNumber">Work Number</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.teacher.startDate">Start Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.teacher.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.teacher.title">Title</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.teacher.major">Major</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachers ;trackBy: trackId">
                    <td><a [routerLink]="['/teacher', teacher.id, 'view']">{{ teacher.id }}</a></td>
                    <td>{{ teacher.workNumber }}</td>
                    <td>{{ teacher.startDate | date:'mediumDate' }}</td>
                    <td>{{ teacher.email }}</td>
                    <td jhiTranslate="{{ 'jhipsterApp.Title.' + teacher.title }}">{{ teacher.title }}</td>
                    <td>
                        <div *ngIf="teacher.major">
                            <a [routerLink]="['/major', teacher.major?.id, 'view']" >{{ teacher.major?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/teacher', teacher.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/teacher', teacher.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(teacher)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
