<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="major">
            <!-- <h2><span jhiTranslate="jhipsterApp.major.detail.title">Major</span> {{ major.id }}</h2> -->

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.major.name">Name</span></dt>
                <dd>
                    <span>{{ major.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.major.campus">Campus</span></dt>
                <dd>
                    <div *ngIf="major.campus">
                        <a [routerLink]="['/campus', major.campus?.id, 'view']">{{ major.campus?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/major', major.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
