<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="exception">
            <h2><span jhiTranslate="jhipsterApp.exception.detail.title">Exception</span> {{ exception.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.exception.date">Date</span></dt>
                <dd>
                    <span>{{ exception.date }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.isYouthLeague">Is Youth League</span></dt>
                <dd>
                    <span>{{ exception.isYouthLeague }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.cause">Cause</span></dt>
                <dd>
                    <span>{{ exception.cause }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.originalMajor">Original Major</span></dt>
                <dd>
                    <div *ngIf="exception.originalMajor">
                        <a [routerLink]="['/major', exception.originalMajor?.id, 'view']">{{ exception.originalMajor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.newMajor">New Major</span></dt>
                <dd>
                    <div *ngIf="exception.newMajor">
                        <a [routerLink]="['/major', exception.newMajor?.id, 'view']">{{ exception.newMajor?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.originalSchoolClass">Original School Class</span></dt>
                <dd>
                    <div *ngIf="exception.originalSchoolClass">
                        <a [routerLink]="['/school-class', exception.originalSchoolClass?.id, 'view']">{{ exception.originalSchoolClass?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.newSchoolClass">New School Class</span></dt>
                <dd>
                    <div *ngIf="exception.newSchoolClass">
                        <a [routerLink]="['/school-class', exception.newSchoolClass?.id, 'view']">{{ exception.newSchoolClass?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.originalGrade">Original Grade</span></dt>
                <dd>
                    <div *ngIf="exception.originalGrade">
                        <a [routerLink]="['/grade', exception.originalGrade?.id, 'view']">{{ exception.originalGrade?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.newGrade">New Grade</span></dt>
                <dd>
                    <div *ngIf="exception.newGrade">
                        <a [routerLink]="['/grade', exception.newGrade?.id, 'view']">{{ exception.newGrade?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.exception.student">Student</span></dt>
                <dd>
                    <div *ngIf="exception.student">
                        <a [routerLink]="['/student', exception.student?.id, 'view']">{{ exception.student?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/exception', exception.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
