<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.schoolClass.home.title">School Classes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-school-class" [routerLink]="['/school-class/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterApp.schoolClass.home.createLabel">
            Create a new School Class
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="schoolClasses?.length === 0">
        <span jhiTranslate="jhipsterApp.schoolClass.home.notFound">No schoolClasses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="schoolClasses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.schoolClass.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.schoolClass.createdDate">Created Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.schoolClass.master">Master</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.schoolClass.grade">Grade</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterApp.schoolClass.major">Major</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schoolClass of schoolClasses ;trackBy: trackId">
                    <td><a [routerLink]="['/school-class', schoolClass.id, 'view']">{{ schoolClass.id }}</a></td>
                    <td>{{ schoolClass.name }}</td>
                    <td>{{ schoolClass.createdDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="schoolClass.master">
                            <a [routerLink]="['/teacher', schoolClass.master?.id, 'view']" >{{ schoolClass.master?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="schoolClass.grade">
                            <a [routerLink]="['/grade', schoolClass.grade?.id, 'view']" >{{ schoolClass.grade?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="schoolClass.major">
                            <a [routerLink]="['/major', schoolClass.major?.id, 'view']" >{{ schoolClass.major?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/school-class', schoolClass.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/school-class', schoolClass.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(schoolClass)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
